header{
	display: inline-block;
	width: 80em;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	background-image: url(https://raw.githubusercontent.com/thatlearninguy/Homework2/main/images/flywheel.jpg);
	background-size: cover;
	background-color: #d3d3d3;
}

body{
	padding: 1%;
	margin: 1%;
	width: 80em;
}

h1{
	font-size: 150%;
	margin-top: 2%;
	color: #ffffff;
	font-weight: bold;
}

nav{
	text-transform: none;
	padding: 10px;
	margin: 20px 10px;
}

nav > a{
	display: inline-block;
	margin: 1% 3%;
	padding: 1% 3%;
	width: 7em;
	height: auto;
	text-decoration: none;
	font-size: 110%;
	border-radius: 8%;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.3);
}

nav a.active{
	background-color: #ffffff;
	font-weight: bold;
	color: #0000ff;
}

.left{
	display: inline-block;
	width: 20em;
	height: 100vh;
	background-color: #777613 ;
	float:left;
}

img{
	display: block;
	width: 80%;
	height: auto;
	border-style: solid;
	border-color: #000000;
	margin: 20px 30px;

}

.right{
	display: inline-block;
	width: 60%;
	font-size: 110%;
	font-weight: 450;
	padding: 10px;
}


table{
	display: flex;
	justify-content: center;	/*centered the table with this*/
	width: 50em;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-weight: bold;
}


tr{
	opacity: 0.7;
}

tr:hover{
	opacity: 1;
}

th{
	background-color: #e4f5d4;
	background:-webkit-linear-gradient(#929b4a, #9cbf5c);
	background:-moz-linear-gradient(#929b4a, #9cbf5c);
	background:-o-linear-gradient(#929b4a, #9cbf5c);
	background:linear-gradient(#929b4a, #9cbf5c);
	color: #ffffff;
	padding: 15px;
	border-style: solid;
	border-color: #000000;
	border-radius: 5px 5px 0 0;
	border-width: 0px 0px 3px 0px;
	text-shadow: 2px 2px 4px black;
}

th:first-child{
	text-align: left;
}
td:first-child{
	text-align: left;
	background-color: #e4f5d4;
	padding: 15px;
	color: #555555;
}

td:nth-child(2),
td:nth-child(3){
	text-align: center;
	background-color: #e4f5d4;
	padding: 15px;
	color: #555555;
}
